@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:ital@0;1&family=Fira+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root {
	--bg:		#0f0f0f;
	--fg:		#cccccc;
	--link:		#ffffff;
	--fadein:	0.1s ease;
	--fadeout:	0.4s ease;
}

::selection { background: var(--link); color: var(--bg); }

body {
	font-family: 'Fira Sans', system-ui, sans-serif; font-size: 18px;
	background: var(--bg); color: var(--fg);
	padding: 0; margin: 0;
}

a, b { font-weight: 500; }

a {
	text-decoration: none; color: var(--fg);
	transition: var(--fadeout);
}
a:hover {
	cursor: pointer;
	color: var(--link);
	transition: var(--fadein);
}

h1, h2, h3, h4, h5, h6 { color: var(--link); font-weight: 500; }

main { padding: 1em 2em; max-width: 50em; margin-left: auto; margin-right: auto; }
header, footer { display: flex; align-items: center; }
header { justify-content: space-between; }
footer { justify-content: space-around; }

hr { color: var(--link); }

.inline { display: inline; }

.mono { font-family: 'Fira Mono', monospace; }

.menu { display: flex; flex-direction: row; align-items: center; }
.menuitem { padding: 4px 32px; }

#avatar { width: 256px; }
@media screen and (max-width: 720px) {
	body { font-size: 16px; }
	header, footer { flex-direction: column; margin: 16px 0px; }
	.menuitem { padding: 4px 16px; }
}
